{{@if(it.registry !== undefined)}}
registry={{it.registry}}

{{/if}}
{{@if(it.proxy !== undefined)}}
proxy={{it.proxy}}

{{/if}}
{{@if(it.http_proxy !== undefined)}}
http_proxy={{it.http_proxy}}

{{/if}}
{{@if(it.https_proxy !== undefined)}}
https_proxy={{it.https_proxy}}

{{/if}}